@if (ViewBag.IsSession is null)
{
    <footer class="page-footer white">
        <div class="footer-copyright grey lighten-5">
            <div class="container blue-grey-text">
                <a asp-area="" asp-controller="Home" asp-action="Index">Codesk</a> |
                Copyright © @DateTime.Now.Year Codesk - All rights reserved.
            </div>
        </div>
    </footer>
}