@{
    var partialName = string.Empty;

    if (ViewBag.IsSession is not null)
    {
        partialName = "_SessionNavPartial";
    }
    else
    {
        partialName = User.Identity.IsAuthenticated ? "_AuthenticatedNavPartial" : "_UnAuthenticatedNavPartial";
    }
}

<nav class="indigo lighten-1">
    <div class="nav-wrapper">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo hide-on-small-and-down">
            <ul>
                <li><img class="logo" src="~/favicon.ico" height="40" width="40" /></li>
                <li><div class="logo-text">CODESK</div></li>
            </ul>
        </a>
        @if (ViewBag.IsSession is not null)
        {
            <img id="language-logo" class="hide" src="#" width="40" height="40" style="margin-left: 305px; margin-top: 4px; background: white; border-radius: 10px; padding: 2px;" />
        }
        <a data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <partial name="@partialName" />
    </div>
</nav>