<header>
    <nav class="indigo lighten-1">
        <div class="nav-wrapper">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo">Codesk</a>
        </div>
    </nav>
</header>