<ul class="right hide-on-med-and-down">
    <li>
        <a><span id="session-time" style="font-weight: 500" class="new badge white black-text" data-badge-caption=""></span></a>
    </li>
    <li>
        <a id="leave-btn" class="btn-small waves-effect waves-light red darken-2"><i class="material-icons right">clear_all</i>Leave</a>
    </li>
</ul>