<ul class="right hide-on-med-and-down">
    <li>
        <a><span class="new badge blue-grey darken-1" data-badge-caption="@($"{DateTime.Now:f}")"></span></a>
    </li>
    <li>
        <a id="leave-btn" class="btn-small waves-effect waves-light blue-grey darken-1"><i class="material-icons right">clear_all</i>Leave</a>
    </li>
</ul>