@model SessionViewModel

@{
    ViewData["Title"] = "Session";
}

@section Styles {
    <link rel="stylesheet" href="~/css/session/session.css" />
}

<a hidden id="session-type" data-type="new"></a>

<partial name="_SessionMarkupPartial" model="Model" />

@section Scripts {
    <partial name="_SessionScriptsPartial" />
}