@{
    ViewData["Title"] = "Home";
}

@*<div class="row grey lighten-4 animate__animated animate__fadeIn">
    <div class="col l7">
        <div class="row valign-wrapper">
            <div class="col l12 offset-l2">
                <h1 class="blue-grey-text text-darken-3" style="font-weight: bold;">
                    <span style="display: block">Real-time Collaborative</span>
                    <span style="display: block">Coding Environment.</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col l5">
        <img class="responsive-img" src="~/images/illustration-large.jpg" style="margin-top: 10%;" width="600" height="600" />
    </div>
</div>*@

<center>
    <h1>Welcome</h1>
</center>